.day-cell {
  padding: 5px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "day-header day-header"
    "installation-header installation-header"
    "dev-version stg-version"
    "rc-version prd-version"
    "installation-footer installation-footer";
}

.day-item {
  grid-area: day-header;
}

.installation-header {
  grid-area: installation-header;
}

.dev-version {
  grid-area: dev-version;
}

.rc-version {
  grid-area: rc-version;
}

.stg-version {
  grid-area: stg-version;
  color: gray;
}

.prd-version {
  grid-area: prd-version;
  color: gray;
}

.installation-footer {
  grid-area: installation-footer;
}

.new-sprint-day {
  background-color: lightgreen;
  text-align: center;
}

.stg-install-day {
  background-color: moccasin;
}

.prd-install-day {
  background-color: pink;
  text-align: center;
}

.weekend-day {
  background-color: lightgrey;
  margin: 0;
}

.today {
  border: solid 3px lightskyblue;
  padding: 2px !important;
}

.wut-day {
  background-color: darkred;
}
