<div *ngIf="(calendar$|async)">
  <h1>{{currentMonth.year}} - {{currentMonth.monthOfYear}}</h1>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="showPreviousMonth()">Previous month</button>
    <button type="button" class="btn btn-secondary" (click)="showCurrentMonth()">Current month</button>
    <button type="button" class="btn btn-primary" (click)="showNextMonth()">Next month</button>
  </div>

  <table class="table table-responsive-xl table-bordered">
    <thead>
    <tr>
      <th scope="col" style="width: 14.28%">Monday</th>
      <th scope="col" style="width: 14.28%">Tuesday</th>
      <th scope="col" style="width: 14.28%">Wednesday</th>
      <th scope="col" style="width: 14.28%">Thursday</th>
      <th scope="col" style="width: 14.28%">Friday</th>
      <th scope="col" style="width: 14.28%">Saturday</th>
      <th scope="col" style="width: 14.28%">Sunday</th>
    </tr>
    </thead>
    <tbody>
    <tr class="week-row"
        *ngFor="let week of currentMonth.weeks">
      <td *ngFor="let day of week.days">
        <rdc-day-cell-component *ngIf="day"
                                [day]="day">
        </rdc-day-cell-component>
      </td>
    </tr>
    </tbody>
  </table>
</div>
