<div>
  <button type="button" class="btn btn-primary" (click)="getCalendar()">push me and then ...</button>
  <span>{{(calendar$ | async)}}</span>
  <table class="table table-responsive-xl table-bordered">
    <thead>
    <tr>
      <th scope="col" style="width: 14.28%">Monday</th>
      <th scope="col" style="width: 14.28%">Tuesday</th>
      <th scope="col" style="width: 14.28%">Wednesday</th>
      <th scope="col" style="width: 14.28%">Thursday</th>
      <th scope="col" style="width: 14.28%">Friday</th>
      <th scope="col" style="width: 14.28%">Saturday</th>
      <th scope="col" style="width: 14.28%">Sunday</th>
    </tr>
    </thead>
    <tbody>
    <tr class="week-row"
        *ngFor="let week of (calendar$ | async)?.months[0].weeks">
      <td>{{week.days[0].dayOfMonth}}</td>
      <td>{{week.days[1].dayOfMonth}}</td>
      <td>{{week.days[2].dayOfMonth}}</td>
      <td>{{week.days[3].dayOfMonth}}</td>
      <td>{{week.days[4].dayOfMonth}}</td>
      <td>{{week.days[5].dayOfMonth}}</td>
      <td>{{week.days[6].dayOfMonth}}</td>
    </tr>
    </tbody>
  </table>
</div>
